:root {
    --grid-layout: repeat(1,1fr);
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
}

.container {
    width: 600px;
    height: 600px;
    background-color: lightblue;
    display: grid;
    grid-template-columns: var(--grid-layout);
    grid-template-rows: var(--grid-layout);
    gap: 2px;
}

.square {
    width: 100%;
    height: 100%;
    background-color: lightcoral;
    border-radius: 2px;
}

.hover {
    background-color: brown;
}


